<html>
  <head>
    <title>Test WSS</title>
  </head>
  <body>
    <img src="http://192.168.0.10:5001/api/stream" />
    <!-- <script>
      const img = document.querySelector("img");
      const WS_URL = "ws://192.168.0.10:5002";
      const ws = new WebSocket(WS_URL);
      ws.onopen = () => {
        console.log(`Connected to ${WS_URL}`);
        ws.send("READ_STREAM|HOLAWEY");
      };
      ws.onmessage = (message) => {
        img.src = "data:image/jpeg;base64," + message.data;
      };
    </script> -->
  </body>
</html>
